@model IEnumerable<entCliente.Cliente>

@{
    ViewBag.Title = "ListarCliente";
}

<h2>Listar Cliente</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "InsertarCliente")
</p>
<table border="1px" cellspacing="0px" cellpadding="10px" class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Direccion
        </th>
        <th>
            Celular
        </th>
        <th>
            Dni
        </th>
        <th>
            Fecha Registro
        </th>
        <th>
            Tipo Cliente
        </th>
        <th>
            Estado Cliente
        </th>
        <th>
            Ciudad
        </th>
        <th>
            Operaciones
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.idCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.apelCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.direcCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.celular)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dni)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecRegCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idTipoCliente.desTipCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idEstCliente.desEstCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idCiudad.desCiudad)
    </td>
    <td>
        @Html.ActionLink("Editar", "EditarCliente", new { idCliente = @item.idCliente }) |
        @Html.ActionLink("Eliminar", "EliminarCliente", new { idCliente = @item.idCliente })
    </td>
</tr>
}

</table>
