@model IEnumerable<entHabitacion.Habitacion>

@{
    ViewBag.Title = "ListarHabitacion";
}

<h2>Listar Habitacion</h2>

<p>
    @Html.ActionLink("Nuevo", "InsertarHabitacion")
</p>
<table border="1px" cellspacing="0px" cellpadding="10px" class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Num Habitacion
        </th>
        <th>
            Num Piso
        </th>
        <th>
            Tipo Habitacion
        </th>
        <th>
            Estado Habitacion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numPisoHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoHabitacion.idTipoHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEstHabitacion.idEstHabitacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarHabitacion", new { idHabitacion = @item.idHabitacion}) |
          
            @Html.ActionLink("Cambiar", "CambiarEstadoHabitacion", new { idHabitacion = @item.idHabitacion })
        </td>
    </tr>
}

</table>
