@model IEnumerable<entHabitacion.Habitacion>

@{
    ViewBag.Title = "ListarHabitacion";
}

<h2>Listar Habitacion</h2>

<p>
    @Html.ActionLink("Nuevo", "InsertarHabitan")
</p>
<table border="1px" cellspacing="0px" cellpadding="10px" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numPisoHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTipoHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEstHabitacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numPisoHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEstHabitacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarCliente", new { idHabitacion = @item.idHabitacion}) |
          
            @Html.ActionLink("Eliminar", "EliminarCliente", new { idHabitacion = @item.idHabitacion })
        </td>
    </tr>
}

</table>
