@model IEnumerable<entHabitacion.Habitacion>

@{
    ViewBag.Title = "ListarHabitacion";
}

<h2>ListarHabitacion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numPisoHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTipoHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEstHabitacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numPisoHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEstHabitacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
